{% extends "base.html" %}
{% load static %} 

{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/board_css.css' %}?after" type="text/css"/> 
{% endblock %}
<div style='height:4rem'>
    <br>
</div>
<div id="main">
    <div class="board">
            <h2>
                문의게시판 
                <span> | 영업일 기준 1일 이내 답변됩니다!
                    {% if request.session.user_id %}
                        {% ifnotequal request.session.user_class 99 %}
                            <a href="{% url 'board:write' %}" id="write-button">
                                문의글쓰기 >
                            </a>
                        {% endifnotequal %}
                    {% endif %}
                    {% comment %} {% ifequal request.session.user_class 1 %}
                            <a href="{% url 'board:write' %}" id="write-button">
                                문의글쓰기 >
                            </a>
                    {% endifequal %} {% endcomment %}
                </span>
            </h2>
        <br/>
        <section class="qna_list">
            <table class="table" style="table-layout:auto;cellspacing:0;cellpadding:0">
                <thead class="thead-light" style="display:none">
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">답변유무</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>
                <div class="container">
                    <tbody>
                        {% for list in postlist reversed %}
                        <tr class="text-center">
                            <th scope="row" width=5% class="board_td">
                                <span>{{ list.id }}</span>
                            </th>
                            <td width=10% height="0" class="board_td">
                                {% if list.answer_title %}
                                <div style="height:100%">
                                    <img src="{% static 'assets/images/게시판_답변완료.png' %}" height="100%" />
                                </div>
                                {% else %}
                                <div style="height:100%">
                                    <img  src="{% static 'assets/images/게시판_미답변.png' %}" height="100%" />
                                </div>
                                {% endif %}
                            </td>
                            <td width=75% class="board_td">
                                <a href="{% url 'board:detail' id=list.id %}">
                                <span>{{ list.title }}</span>
                                </a>
                            </td>
                            <td width=10% class="board_td">
                                <span>{{ list.user_id }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            </div>
        </section>
    </div>
</div>

{% endblock content %}