{% extends "double_base_bone.html" %}
{% load static %} 

{% block contents %}
<section id="intro" class="main">
    <div class="spotlight">
        <div class="box1">
            <div class="box2">LG 디오스냉장고</div>
            <div class="box2">삼성 디스포크 냉장고</div>
        </div>

        <div class='box1'>
            <div class="box3">LG 스탠바이미</div>
            <div class="box3">삼성 더프리스타일</div>
        </div>	
        <div class='box1'>
            <div class="box4">위닉스 제습기</div>
            <div class="box4">루메나 선풍기</div>
        </div>
        <div class='box1'>
            <div class="box5">애플 에어팟프로</div>
            <div class="box5">다이슨에어랩스타일러</div>

        </div>	
        <div class='box1'>
            <div class="box6">다이슨 에어랩스타일러</div>
            <div class="box6">삼성큐커</div>
        </div>
    </div>
</section>

<!-- 전체 핫키워드 -->
<section id="allhot" class="main special">
    <header class="major">
        <h2>전체 핫 키워드</h2>
    </header>
    <ul class="statistics">
        <li>
            <table class='serchtable'>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                    <td>201</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                    <td>201</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                    <td>201</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                    <td>201</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                    <td>201</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                    <td>201</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                    <td>201</td>
                </tr>

            </table>
        </li>
</section>
<!-- 전체 핫키워드 끝 -->
<!-- 2030 인기검색어 시작 -->
<section id="2030year" class="main special">
    <header class="major">
        <h2>2030 인기검색어</h2>
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">남자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">여자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        
    </ul>
    
</section>
<!-- 2030 인기검색어끝 -->

<!-- 4050 인기검색어시작 -->
<section id="4050year" class="main special">
    <header class="major">
        <h2>4050 인기검색어</h2>
        
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">남자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                  
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                    
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                    
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                   
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                   
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                   
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                 
                </tr>

            </table>
        </li>
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">여자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        
    </ul>
</section>
<!-- 4050 인기검색어끝 -->

<section id="About US" class="main special">
    <header class="major">
        <h2>About US</h2>
        
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <tr>
                    <td><a href="https://github.com/JONWON2"><img class="proimg" src="{% static 'assets/images/jongwon.png'%}" alt="image" /></a></td>
                    <td><a href="https://github.com/corgiccori97"><img class="proimg" src="{% static 'assets/images/sanghe.png'%}" alt="image" /></a></td>
                    <td><a href="https://github.com/soohyun97"><img class="proimg" src="{% static 'assets/images/soohyun.png'%}" alt="image" /></a></td>
                    <td><a href="https://github.com/dbswl2324"><img class="proimg" src="{% static 'assets/images/yunji.png'%}" alt="image" /></a></td>
                    <td><a href="https://github.com/CastleRain"><img class="proimg" src="{% static 'assets/images/seongwo.png'%}" alt="image" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/JONWON2">JONWON</a></td>
                    <td><a href="https://github.com/corgiccori97">corgiccori97</a></td>
                    <td><a href="https://github.com/soohyun97">soohyun97</a></td>
                    <td><a href="https://github.com/dbswl2324">dbswl2324</a></td>
                    <td><a href="https://github.com/CastleRain">CastleRain</a></td>
                </tr>
            </table>
        </li>
    </ul>

</section>
{%endblock contents %}