{% extends "double_base_bone.html" %}
{% load static %} 

{% block contents %}
<section id="intro" class="main">
    <div style="align-text: center;">
        <div class="spotlight" id="spot" style="align-text: center;">
                {% if check_box.first == 1 %}
                    <div class="box1">
                        <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                            <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                            <input type="text" name="company" value = "{{recommand_list.company.0}}" hidden="True">
                            <input type="text" name="article_name" value = "{{recommand_list.name.0}}" hidden="True">
                            <button class="box3" type="submit" style="background-color:#FCEFCC">{{recommand_list.company.0}} {{recommand_list.name.0}}</button>

                        </form>
                    </div>
                {% endif %}
                {% if check_box.sixth == 1 %}
                    <div class="box1">
                        <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                            <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                            <input type="text" name="company" value = "{{recommand_list.company.5}}" hidden="True">
                            <input type="text" name="article_name" value = "{{recommand_list.name.5}}" hidden="True">
                            <button class="box3" type="submit" style="background-color:#FFE3C9">{{recommand_list.company.5}} {{recommand_list.name.5}}</button>

                        </form>
                    </div>
            {% endif %}

                {% if check_box.second == 1 %}
                <div class="box1">
                    <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                        <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                        <input type="text" name="company" value = "{{recommand_list.company.1}}" hidden="True">
                        <input type="text" name="article_name" value = "{{recommand_list.name.1}}" hidden="True">
                        <button class="box3" type="submit" style="background-color:#E6E2EE">{{recommand_list.company.1}} {{recommand_list.name.1}}</button>

                    </form>
                </div>
                {% endif %}
                {% if check_box.seventh == 1 %}
                    <div class="box1">
                        <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                            <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                            <input type="text" name="company" value = "{{recommand_list.company.6}}" hidden="True">
                            <input type="text" name="article_name" value = "{{recommand_list.name.6}}" hidden="True">
                            <button class="box3" type="submit" style="background-color:#E1EAEE">{{recommand_list.company.6}} {{recommand_list.name.6}}</button>

                        </form>
                    </div>
                {% endif %}
                {% if check_box.third == 1 %}
                <div class="box1">
                    <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                        <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                        <input type="text" name="company" value = "{{recommand_list.company.2}}" hidden="True">
                        <input type="text" name="article_name" value = "{{recommand_list.name.2}}" hidden="True">
                        <button class="box3" type="submit" style="background-color:#CCECED">{{recommand_list.company.2}} {{recommand_list.name.2}}</button>

                    </form>
                </div>
            </div>
            <div class="spotlight" id="spot" style=" align-text: center;">    
                {% endif %}
                {% if check_box.eighth == 1 %}
                    <div class="box1">
                        <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                            <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                            <input type="text" name="company" value = "{{recommand_list.company.7}}" hidden="True">
                            <input type="text" name="article_name" value = "{{recommand_list.name.7}}" hidden="True">
                            <button class="box3" type="submit" style="background-color:#FCEFCC">{{recommand_list.company.7}} {{recommand_list.name.7}}</button>

                        </form>
                    </div>
                {% endif %}
                {% if check_box.fourth == 1 %}
                <div class="box1">
                    <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                        <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                        <input type="text" name="company" value = "{{recommand_list.company.3}}" hidden="True">
                        <input type="text" name="article_name" value = "{{recommand_list.name.3}}" hidden="True">
                        <button class="box3" type="submit" style="background-color:#FFE3C9">{{recommand_list.company.3}} {{recommand_list.name.3}}</button>

                    </form>
                </div>
                {% endif %}
                {% if check_box.ninth == 1 %}
                    <div class="box1">
                        <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                            <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                            <input type="text" name="company" value = "{{recommand_list.company.8}}" hidden="True">
                            <input type="text" name="article_name" value = "{{recommand_list.name.8}}" hidden="True">
                            <button class="box3" type="submit" style="background-color:#E6E2EE">{{recommand_list.company.8}} {{recommand_list.name.8}}</button>

                        </form>
                    </div>
                {% endif %}

                {% if check_box.fifth == 1 %}
                <div class="box1">
                    <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                        <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                        <input type="text" name="company" value = "{{recommand_list.company.4}}" hidden="True">
                        <input type="text" name="article_name" value = "{{recommand_list.name.4}}" hidden="True">
                        <button class="box3" type="submit" style="background-color:#E1EAEE">{{recommand_list.company.4}} {{recommand_list.name.4}}</button>

                    </form>
                </div>
                {% endif %}
                {% if check_box.tenth == 1 %}
                    <div class="box1">
                        <form action="{% url 'analysisapp:result' %}" method = "POST" class="today">
                            <!-- <div class="box2">{{recommand_list.company.0}} {{recommand_list.name.0}}</div> -->
                            <input type="text" name="company" value = "{{recommand_list.company.9}}" hidden="True">
                            <input type="text" name="article_name" value = "{{recommand_list.name.9}}" hidden="True">
                            <button class="box3" type="submit" style="background-color:#CCECED">{{recommand_list.company.9}} {{recommand_list.name.9}}</button>

                        </form>
                    </div>
                {% endif %}
        </div>
    </div>
</section>

<!-- 전체 핫키워드 -->
<section id="allhot" class="main special">
    <header class="major">
        <h2>전체 핫 키워드</h2>
    </header>
    <ul class="statistics">
        <li>
            <table class='serchtable'>
                <tr>
                    <td>순위</td>
                    <td>제품명</td>
                    <td>조회수</td>
                </tr>
                {% for keyword in hot_keyword %}
                    <tr>
                        <td>{{keyword.0}}</td>
                        <!-- <td>
                            <form action="{% url 'analysisapp:result' %}" method = "POST">
                                <input type="text" name="company" value = "{{keyword.1}}" hidden="True">
                                <input type="text" name="article_name" value = "{{keyword.2}}" hidden="True">
                                <button type="submit">{{keyword.1}} {{keyword2}}</button>
        
                            </form>
                        </td> -->
                        <td>{{keyword.1}} {{keyword.2}}</td>
                        <td>{{keyword.3}}</td>
                    </tr>
                {% endfor %}
            </table>
        </li>
</section>
<!-- 전체 핫키워드 끝 -->
<!-- 2030 인기검색어 시작 -->
<section id="2030year" class="main special">
    <header class="major">
        <h2>2030 인기검색어</h2>
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <th colspan='3' class="contents_th"><div class="box12">남자</div></th>
                <tr>
                    <td>순위</td>
                    <td>제품명</td>
                    <td>조회수</td>
                </tr>
                {% for key in twenty_male %}
                    <tr>
                        <td>{{key.0}}</td>
                        <td>{{key.1}} {{key.2}}</td>
                        <td>{{key.3}}</td>
                    </tr>
                {% endfor %}


            </table>
        </li>
        <li >
            <table class='serchtable'>
                <th colspan='3'
                 class="contents_th"><div class="box12">여자</div></th>
                <tr>
                    <td>순위</td>
                    <td>제품명</td>
                    <td>조회수</td>
                </tr>
                {% for key in twenty_female %}
                    <tr>
                        <td>{{key.0}}</td>
                        <td>{{key.1}} {{key.2}}</td>
                        <td>{{key.3}}</td>
                    </tr>
                {% endfor %}

            </table>
        </li>
        
    </ul>
    
</section>
<!-- 2030 인기검색어끝 -->

<!-- 4050 인기검색어시작 -->
<section id="4050year" class="main special">
    <header class="major">
        <h2>4050 인기검색어</h2>
        
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <th colspan='3'  class="contents_th"><div class="box12">남자</div></th>
                <tr>
                    <td>순위</td>
                    <td>제품명</td>
                    <td>조회수</td>
                </tr>
                {% for key in fourty_male %}
                    <tr>
                        <td>{{key.0}}</td>
                        <td>{{key.1}} {{key.2}}</td>
                        <td>{{key.3}}</td>
                    </tr>
                {% endfor %}

            </table>
        </li>
        <li >
            <table class='serchtable'>
                <th colspan='3'  class="contents_th"><div class="box12">여자</div></th>
                <tr>
                    <td>순위</td>
                    <td>제품명</td>
                    <td>조회수</td>
                </tr>
                {% for key in fourty_female %}
                    <tr>
                        <td>{{key.0}}</td>
                        <td>{{key.1}} {{key.2}}</td>
                        <td>{{key.3}}</td>
                    </tr>
                {% endfor %}

            </table>
        </li>
        
    </ul>
</section>
<!-- 4050 인기검색어끝 -->

<section id="About US" class="main special">
    <header class="major">
        <h2>About US</h2>
        
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <tr>
                    <td><a href="https://github.com/JONWON2"><img class="proimg" src="{% static 'assets/images/jongwon.png'%}" alt="image" /></a></td>
                    <td><a href="https://github.com/corgiccori97"><img class="proimg" src="{% static 'assets/images/sanghe.png'%}" alt="image" /></a></td>
                    <td><a href="https://github.com/soohyun97"><img class="proimg" src="{% static 'assets/images/soohyun.png'%}" alt="image" /></a></td>
                    <td><a href="https://github.com/dbswl2324"><img class="proimg" src="{% static 'assets/images/yunji.png'%}" alt="image" /></a></td>
                    <td><a href="https://github.com/CastleRain"><img class="proimg" src="{% static 'assets/images/seongwo.png'%}" alt="image" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://github.com/JONWON2">JONWON</a></td>
                    <td><a href="https://github.com/corgiccori97">corgiccori97</a></td>
                    <td><a href="https://github.com/soohyun97">soohyun97</a></td>
                    <td><a href="https://github.com/dbswl2324">dbswl2324</a></td>
                    <td><a href="https://github.com/CastleRain">CastleRain</a></td>
                </tr>
            </table>
        </li>
    </ul>

</section>
{%endblock contents %}