{% extends "double_base_bone.html" %}
{% load static %} 

{% block contents %}
<section id="intro" class="main">
    <div class="spotlight">
        <div class="box1">
            <div class="box2">LG 디오스냉장고</div>
            <div class="box2">삼성 디스포크 냉장고</div>
        </div>

        <div class='box1'>
            <div class="box3">LG 스탠바이미</div>
            <div class="box3">삼성 더프리스타일</div>
        </div>	
        <div class='box1'>
            <div class="box4">위닉스 제습기</div>
            <div class="box4">루메나 선풍기</div>
        </div>
        <div class='box1'>
            <div class="box5">애플 에어팟프로</div>
            <div class="box5">다이슨에어랩스타일러</div>

        </div>	
        <div class='box1'>
            <div class="box6">다이슨 에어랩스타일러</div>
            <div class="box6">삼성큐커</div>
        </div>
    </div>
</section>

<!-- 20대 인기검색어 시작 -->
<section id="20year" class="main special">
    <header class="major">
        <h2>20대 인기검색어</h2>
    </header>
    <ul class="statistics">
        <li>
            <table class='serchtable'>
                <th colspan='2'><div class="box12">남자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        <li>
            <table class='serchtable'>
                <th colspan='2'><div class='box12'>여자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>
            </table>
        </li>
    </ul>
</section>
<!-- 20대 인기검색어 끝 -->
<!-- 30대 인기검색어 시작 -->
<section id="30year" class="main special">
    <header class="major">
        <h2>30대 인기검색어</h2>
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">남자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">여자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        
    </ul>
    
</section>
<!-- 30대 인기검색어끝 -->

<!-- 40대 인기검색어시작 -->
<section id="40year" class="main special">
    <header class="major">
        <h2>40대 인기검색어</h2>
        
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">남자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">여자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        
    </ul>
</section>
<!-- 40대 인기검색어끝 -->
<!-- 50대 인기검색어시작 -->
<section id="50year" class="main special">
    <header class="major">
        <h2>50대 인기검색어</h2>
        
    </header>
    <ul class="statistics">
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">남자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        <li >
            <table class='serchtable'>
                <th colspan='2'><div class="box12">여자</div></th>
                <tr>
                    <td>1.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>2.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>3.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>4.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>5.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>6.</td>
                    <td>LG 스타일러</td>
                </tr>
                <tr>
                    <td>7.</td>
                    <td>LG 스타일러</td>
                </tr>

            </table>
        </li>
        
    </ul>
</section>
{%endblock contents %}