{% extends "base.html" %}
{% load static %} 

{% block content %}

<div id='main'>	
    <nav id="nav">
            <div id="choose_li">찾으시는상품이 여기에 있나요?</div>                  
    </nav>
    <section id="paysec" class="main special">
        <div class="container">

            <div class="my-slider">
                {% for data in data_list %}
                <a href = "/app/analysis/result/?company={{data.search_company}}&article_name={{data.article_name}}">
                    <div>
                        제품명 : data
                    </div>
                </a>
                {% endfor %}
                <div>
                    현재 제품 이름 추가
                </div>
 
    
        </div>
        <div class="my-controls" aria-label="Carousel Navigation" tabindex="0">
            <button  class="prev" data-controls="prev" tabindex="-1" aria-controls="controls" style="box-shadow: none;">
                <img src= "{% static 'assets/images/left.svg'%}" alt="왼쪽" class="prev_img"></button>
            <button class="next" data-controls="next" tabindex="-1" aria-controls="controls" style="box-shadow: none;">
                <img src= "{% static 'assets/images/right.svg'%}" alt="오른쪽" class="next_img"></button>
        </div>     
    </section>
</div>
{% block js %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script> 
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script type="module" src="{% static 'assets/js/slider.js'%}"></script>
    <script src="{% static 'assets/js/slider2.js'%}"></script>
{% endblock %}
{%endblock content%}
