{% extends "base.html" %}
{% load static %} 
{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/detail.css' %}?after" type="text/css"/> 
{% endblock %}
<div id='main' class="maincl">	
    <div class="main_div">
        <header><h2>< 순수리뷰 AI 상세분석</h2></header>
        <div class="">
            <div class="titlebox">긍정부정비율</div>
            <div>
                {% static "assets/my_force_plot.html" %}
                <link href="{% static 'assets/my_force_plot.html' %}" type="html"/> 
            </div>
            <div class="barimg">
                <img src="{% static 'assets/images/bar.PNG'%}" alt="image"/>
            </div>
        </div>
        <div class="">
            <div>아래 문장들은 랜덤하게 보여줍니다. 다른 문장을 보고싶다면 새로고침을 눌러주세요.</div>
            <div class="titlebox">긍정문장</div>
            <div>
                <table>
                    {% for positive in positive_list %}
                    <tr >
                        <td>{{positive.idx}}</td>
                        <td class="positive_td">{{positive.content}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="">
            <div class="titlebox">부정문장</div>
            <div>
                <table>
                    {% for negative in negative_list %}
                    <tr>
                        <td>{{negative.idx}}</td>
                        <td class="negative_td">{{negative.content}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{%endblock content%}