{% extends "base.html" %}
{% load static %} 
{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/detail.css' %}?after" type="text/css"/> 
{% endblock %}
<div id='main' class="maincl">
    <section id="review" class="main special" style="color:black;">
		<header class="major">
			<h2>블로그 리뷰 AI 상세분석</h2>
            <table class='resulttable'>
                <tr style="text-align: center;font-size:1rem">
                    <td colspan="1" class="description_td de_text">#AI기반 텍스트 분석을 통해 블로그 리뷰를 분석해드립니다!</td>
                </tr>
            </table>
        </header>
    <div id='main' class="maincl">	
        <div class="main_div">
        <!-- 내용 입력 -->
            <div class="titlebox">Chap 1. 블로그 정보</div>
            <table class="">
                <tr class="">
                    <td rowspan="2" class="blog_img_td" style="vertical-align: middle; ">
                        <a href="{{review_list.url}}">
                            <img id="img_review" src="{{review_list.first_img_url}}" alt="image"/>
                        </a>
                    </td>
                    <td class="blog_name" style="font-weight: bolder; ">
                        <a href="{{review_list.url}}">
                            {{review_list.title}}
                        </a>
                    </td>
                </tr>
                <tr class="">
                    <td class="blog_text">{{review_list.description}}</td>
                </tr>
            </table>
        <div>
            <div class="titlebox">Chap 2. 순수 리뷰 원인</div>
            <br>
            <div style="font-size: 1.1vw;">
                <h3>키워드 설명</h3>---<br>
                #content_cnt : 글자수, #content_line : 문장 수, #img_cnt : 사진개수,
                <br>
                #AD_score : 광고적중률, #CP_score : 파트너스적중률, #PU_score: 순수 적중률 
            </div>
			<div class="barimgdiv" style="max-height: 11.2rem;">
                <img class="barimg de_plot" src="http://iptimejong96.iptime.org:1415/explain/?review_id={{review_id}}" alt="image"/>
            </div>
            <div>
                <p style="text-align:left;font-size: 1.3vw;">
                    <span style="font-size: 1.3rem;color: black;font-weight: bold;">&#127919; 그래프 해석 방법</span>
                    <br>
                    <span style="font-size: 1.2rem;color: #1E88E5;">파랑색</span>은 광고성 글이라고 
                    <span style="font-size: 1.2rem;color: #1E88E5;">판단하지 않은데</span> 기여했다는 것을 의미하며, 
                    <span style="font-size: 1.2rem;color: #FF0D57;">빨강색</span>은 광고성 글이라고 
                    <span style="font-size: 1.2rem;color: #FF0D57;">판단하는데</span> 기여한 요인을 알 수 있습니다.</p>
                    <br>
            </div>
        </div>
        <div>
            <div class="titlebox">Chap 3. 문장감성분석</div>
            <div><br>
                <h2>#블로그 내 <span style="color: #1E88E5;font-weight: bolder;">긍정</span>문장</h2>
                <br>
            </div>
            <div class="emo_div">
                <!-- <div class="positive_box">#긍정</div> -->
                <div>
                    <table>
                        {% for positive in positive_list %}
                        <tr >
                            <td class="positive_num"><mark class="blue">{{positive.idx}}</mark></td>
                            <td class="positive_td">{{positive.content}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div>
                <br>
                <img src="{% static 'assets/css/images/form_bar.png' %}" style="margin-bottom: 2.5rem;width: 40%;height: 0.1rem" />
                <h2>#블로그 내 <span style="color: #FF0D57;font-weight: bolder;">부정</span>문장</h2>
                <br>
            </div>
            <div class="emo_div">
                <div>
                    <table>
                        {% for negative in negative_list %}
                        <tr>
                            <td class="negative_num"><mark class="red">{{negative.idx}}</mark></td>
                            <td class="negative_td">{{negative.content}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <div><br></div>
            <div class="barimgdiv">
                <div class="guide_text" style="font-size: 1.2rem;">#Tip : 다른 긍정부정 문장을 확인하고자 한다면 새로고침을 해주세요</div>
            </div>
        </div>
    </div>
    <div>
        <a href="/app/analysis/result/?company={{review_list.company}}&article_name={{review_list.article_name}}">
        <button type="button" class="btn btn-success" style="color:black;font-size: 1rem;font-weight: bold;">뒤로가기</button>
        </a>
    </div>
	</section>
</div>
{%endblock content%}