{% extends "base.html" %}
{% load static %} 

{% block content %}
<div style='height:10rem;'>
    <br>
  </div>
<div id="main">
    <section>
        <h1> 마이페이지 </h1>
        <div class="options">
            <div class="user-modify">
                <a href="{% url 'accountapp:user_update' %}">
                    <img src="{% static 'assets/images/메인페이지-개인정보수정.png' %}">
                </a>
                <a href="{% url 'accountapp:user_log' %}">
                    <img src="{% static 'assets/images/메인페이지-검색기록.png' %}">
                </a>
                <a href="{% url 'accountapp:user_qna' %}">
                    <img src="{% static 'assets/images/메인페이지-나의문의.png' %}">
                </a>
                <a href="{% url 'accountapp:user_delete' %}" id="userdelete">
                    <img src="{% static 'assets/images/메인페이지-회원탈퇴.png' %}">
                </a>
            </div>
        </div>
    </section>
</div>
{%endblock content %}