{% extends "base.html" %}
{% load static %} 

{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/board_css.css' %}?after" type="text/css"/> 
{% endblock %}
<div style='height:4rem;'>
    <br>
</div>
<div id="main">
    <div class="mypage">
        <h2 class="title"> 마이페이지 > <strong style="color: #03B59D">개인정보수정</strong> </h2>
        <div class="user-loginout" id="userform_mypage">
                <form method="POST" action="{% url 'accountapp:user_update' %}">
                    {% csrf_token %}
                    <div class="user-info">
                        <label for="password1">비밀번호</label>
                        <br/>
                        <input type="password" class="form-control" name="password1" placeholder="비밀번호를 입력해주세요" required />
                    </div>
                    <div class="user-info">
                        <label for="password1">비밀번호 확인</label>
                        <br/>
                        <input type="password" class="form-control" name="password2" placeholder="비밀번호를 다시 입력해주세요" required />
                    </div>
                    <div class="user-info">
                        <label for="nickname">닉네임</label>
                        <br/>
                        <input type="text" class="form-control" name="nickname" value={{ m.user_nickname }}>
                    </div>
                    <div class="user-info">
                        <label for="user_birth">생년월일</label>
                        {{request.session.user_birth}}
                        <input type="date" class="form-control" name="user_birth" min="1930-01-01" max="2022-12-31" value={{ m.user_birth|date:'Y-m-d' }}>
                    </div> 
                    <div class="user-info">
                        <label for="validationTextarea" class="form-label">성별 변경</label>
                        <select class="form-select" required aria-label="select example"  name="user_sex" selected={{ m.user_sex }}>
                            {% ifequal m.user_sex 0 %}
                            <option value=0 selected>여</option>
                            <option value=1>남</option>
                            {% else %}
                            <option value=0>여</option>
                            <option value=1 selected>남</option>
                            {% endifequal %}
                        </select>
                    </div> 
    
                    <div class="user-info">
                        <label for="email">이메일</label>
                        <br/>
                        <input type="text" class="form-control" name="email" value={{ m.user_email }}>
                    </div>
                    <button type="submit" id="check-loginout" >저장하기</button>
                </form>
        </div> 
    </div>

</div>
{%endblock content%}
