{% extends "base.html" %}
{% load static %} 

{% block content %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'assets/css/board_css.css' %}?after" type="text/css"/> 
{% endblock %}
<div style='height:4rem;'>
    <br>
</div>
<div id="main">
    <div class="board">
        <h2 class="title"> 마이페이지 > <strong style="color: #DEA742">나의 문의</strong>
            <a href="{% url 'board:write' %}" id="write-button" style="margin:2.5rem 2rem 1rem 0;font-size:1rem;">
                문의글쓰기 >
            </a>         
        </h2>

        <section class="qna_list">
            <table class="table" style="table-layout:auto">
                <thead class="thead-light" style="display:none">
                    <tr class="text-center">
                        <th scope="col">#</th>
                        <th scope="col">답변유무</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                    </tr>
                </thead>

                <div class="container">
                    <tbody>
                        {% for list in postlist reversed %}
                        <tr class="text-center">
                            <th scope="row" width=5%>
                                <span>{{ list.id }}</span>
                            </th>
                            <td width=10%>
                                {% if list.answer_title %}
                                    <img src="{% static 'assets/images/게시판_답변완료.png' %}" />
                                {% else %}
                                    <img  src="{% static 'assets/images/게시판_미답변.png' %}" />
                                {% endif %}
                            </td>
                            <td width=75%>
                                <a href="{% url 'board:detail' id=list.id %}">
                                <span>{{ list.title }}</span>
                                </a>
                            </td>
                            <td width=10%>
                                <span>{{ list.user_id }}</span>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
            </table>
            </div>
        </section>
    </div>


</div>
{% endblock %}