{% extends "base.html" %}
{% load static %} 

{% block content %}
<div style='height:10rem;'>
    <br>
</div>
<div id="main">
    <h1> 마이페이지 > <strong style="color: #E78125">나의 검색기록</strong> </h1>
    <section class="qna_list">
        <table class="table" style="table-layout:auto">
            <thead class="thead-light" display="none">
                <tr class="text-center">
                    <th scope="col">시간</th>
                    <th scope="col">회사명</th>
                    <th scope="col">제품명</th>
                </tr>
            </thead>
            <div class="container">
                <tbody>
                    {% for log in logs reversed %}
                    <tr class="text-center">
                        <th scope="row" width=10%>
                            <span>{{ log.search_date }}</span>
                        </th>
                        <td>
                            <span>{{ log.search_company }}</span>
                        </td>
                        <td width=10%>
                            <span>{{ log.search_name }}</span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
        </table>
        </div>
    </section>

</div>
{% endblock %}