{%load static%}
<head>
    <title>REVIEW MASTER</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="{% static 'assets/css/main3.css'%}"/>
    <noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css'%}" /></noscript>
    <link rel="stylesheet" href="{% static 'assets/css/main2.css' %}?after" type="text/css" />
    <link rel="stylesheet" href="{% static 'assets/css/board_css.css' %}?after" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css">
</head>