* {
    box-sizing: border-box;
}

.board h2 span {
    font-size: 0.6em;
    color: #AE2223;
}

.board h2 a {
    font-weight: bold;
    font-size: 0.6em;
    float: right;
    padding-right: 0.5rem;
    margin-top: 0.5rem;
}

.mypage h1,
.board h1,
.board h2 {
    margin-bottom: 2rem;
}

tr,
td,
th {
    /* padding: 0.5em 1em; */
    text-align: left;
}

@media screen and (min-width: 870px) {
    .board,
    .mypage {
        padding: 3rem;
    }
}

@media screen and (max-width: 870px) {
    .board,
    .mypage {
        padding: 1rem;
        font-size: 10pt;
    }
}

.board-title {
    display: inline;
}

#write-button {
    font-size: 0.9rem;
    color: black;
    box-shadow: none;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.qna_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

tr:nth-child(2n) {
    background-color: #E7FCF9C4;
}

.text-center:hover {
    cursor: pointer;
}

.user-loginout {
    margin: 0;
    align-self: center;
    font-weight: bold;
}

.mypage h2 {
    text-align: center;
    margin-bottom: 1.5rem;
}

#main>div>img {
    display: block;
    margin: 0 auto 4rem auto;
    align-self: center;
}

.user-modify {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.user-modify img {
    max-width: 85%;
    height: auto;
}

.user-info input {
    padding-left: 1rem;
}

#userform_mypage>form>div:nth-child(2)>input,
#userform_mypage>form>div:nth-child(3)>input,
#userform_mypage>form>div:nth-child(4)>input,
#userform_mypage>form>div:nth-child(7)>input,
#userform_mypage>form>div>input,
#userform_mypage>form>div>select {
    width: 100%;
    background-color: #1CEED11C;
    height: 3em;
    padding: 0 1rem;
    border: none;
    box-shadow: none;
    margin-bottom: 1rem;
    border-radius: 6px;
}

#userform_mypage>form>div>label {
    display: contents;
    color: #31BEAD;
}

#check-loginout {
    display: block;
    margin: 0 auto;
}

#write-button {
    float: right;
    box-shadow: none;
}

#write-button a {
    font-weight: bold;
}

#main>div>form>div {
    display: flex;
    width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 6px;
}

#main>div>form>div>label {
    width: 15%;
    text-align: center;
}

.post-write.div {
    width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 6px;
}

#title,
#content,
#answer_title,
#answer_content {
    width: 100%;
    border: none;
    box-shadow: none;
    border-radius: 6px;
    padding: 0 1rem;
    margin-bottom: 0.5rem;
}

#content {
    background-color: #E7FCF9C4;
}

#main>div>form>input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 0;
    height: 2rem;
    font-size: 0.8rem;
}

@media screen and (min-width: 870px) {
    .form_delete {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
}

@media screen and (max-width: 870px) {
    .form_delete {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
}

#main>div>form>p {
    text-align: center;
}

#main>div>section>table>tbody>tr {
    vertical-align: middle;
}


/* .input-file-button {
    display: block;
    margin: 0 0.5rem 1rem 10rem;
    padding: 5px;
    width: 5rem;
    height: 2rem;
    background-color: rgb(243, 243, 243);
    border: 1px solid lightgray;
    border-radius: 4px;
} */

#input-file {
    display: block;
    margin: 0 13%;
    margin-bottom: 2rem;
}