* {
    box-sizing: border-box;
}

.board h2 span {
    font-size: 0.6em;
    color: #AE2223;
}


/* button {
    border: none;
    background: transparent;
    font-weight: bold;
} */

tr,
td,
th {
    /* padding: 0.5em 1em; */
    text-align: left;
}

.board {
    padding: 2rem;
}

.board-title {
    display: inline;
}

.board#write-button {
    box-shadow: none;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.qna_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

tr:nth-child(2n) {
    background-color: #E7FCF9C4;
}

.text-center:hover {
    cursor: pointer;
}