* {
    box-sizing: border-box;
}

legend {
    font-weight: bold;
    font-size: 2em;
    margin: 0.67em 0;
}

.s004 {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: flex-start;
}

.s004 form {
    max-width: 50%;
}

button {
    background-color: transparent;
    border: none;
    outline: 0;
    text-decoration-line: none;
}

button:hover {
    cursor: pointer;
    font-weight: bold;
}

.input-field {
    height: 3em;
    position: relative;
    border: none;
    border-radius: 48px;
    width: 110%;
    background-color: #fff;
}

#text-values,
.btn-search {
    position: absolute;
    height: 100%;
}

#text-values {
    width: 90%;
    height: 100%;
    left: 1em;
}

.btn-search {
    right: 1em;
}

.form-control {
    border: none;
    background-color: transparent;
}

fieldset {
    border: none;
}

.user-loginout {
    margin: 10%;
    width: 20em;
    align-self: center;
    font-weight: bold;
}

.user-loginout img {
    display: block;
    margin: 0 auto 3rem auto;
    align-self: center;
}

.user-loginout h2 {
    margin-bottom: 2rem;
    font-weight: bold;
    text-align: center;
}

#main>div>div>form>div>label {
    color: #03B59D;
    font-weight: bold;
}

.user-loginout input[type="text"],
.user-loginout input[type="password"] {
    background-color: #fff;
    border: none;
    outline: 0;
    text-decoration-line: none;
    border-radius: 6px;
    width: 200%;
    height: 3em;
    margin-bottom: 1em;
}

#main>div>div>form>button {
    width: 200%;
    height: 3em;
    background-color: #6DCECE;
    color: #fff;
    font-weight: bold;
}

#user-addons {
    text-align: center;
    margin: 0 2.5rem;
}

#user-addons2 {
    text-align: center;
}

#main>div>div>form>div>label {
    margin: 0;
}

.user-info input {
    padding-left: 1rem;
}

.user-info input[type="date"],
.user-info select {
    width: 200%;
    background-color: rgba(222, 222, 222, 0.25);
    height: 3em;
    color: lightgray;
    padding-left: 1rem;
}